<!DOCTYPE HTML> {% include head.html %}

<body>

    <div id="navbox"> {% include navbar.html %}</div>

    <div class="headbox">
        <div class="headertext">
            <div class="headertext">
                <a href={{ "index.html" | relative_url }}>
                    <h1> BLOG</h1>
                </a>
            </div>
        </div>

        <div id="topnav">
            <ul>
                {% for post in site.posts %}
                <li>
                    <a href={{ post.url | prepend: site.baseurl }}>{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>

        {% for post in site.posts %}

        <div class="textbox" markdown="1">
            <br>
            <h2>
                <a href={{post.url}}> {{ post.title }}</a>
            </h2>

            <h4>{{ post.date | date: '%B %d, %Y'}}</h4>


            <p>{{ post.content}}</p>



        </div>
        {% endfor %}
    </div>

    </div>


    {% include footer.html %}

</body>

</html>