<!DOCTYPE HTML> {% include head.html %}

<body>

    <div id="navbox"> {% include navbar.html %}</div>

    <div class="headbox">
        <div class="headertext">
            <div class="headertext">
                <a href={{ "blog" | relative_url }}>
                    <h1> BLOG</h1>
                </a>
            </div>
        </div>



        {% include blogheader.html %}

        <div class="textbox" markdown="1">
            <br>
            <h4>
                {{ page.title }}
            </h4>
            <h5>
                {{ page.date | date: '%B %d, %Y'}}</h5>
            <div class="textbox">
                <p>{{ content}}</p>

            </div>

        </div>
    </div>

    </div>

    {% include footer.html %}

</body>

</html>